name: Reusable Docker build and push

on:
    workflow_call:
        inputs:
            runner:
                required: true
                type: string
                description: "Runner labels (e.g. self-hosted,linux,xsmall | self-hosted,linux,small)"
            version:
                required: true
                type: string
                description: "Version tag to build"
            branch:
                required: true
                type: string
                description: "Git branch name"
        secrets:
            REGISTRY_USERNAME:
                required: true
                description: "Registry username"
            REGISTRY_PASSWORD:
                required: true
                description: "Registry password"
        outputs:
            image:
                value: ${{ jobs.build.outputs.image }}
                description: "Built image name"

jobs:
    build:
        name: Build and Push Docker Image
        runs-on: ${{ inputs.runner }}
        env:
            BUILDKIT_MAX_PARALLELISM: "1"
        outputs:
            image: ${{ steps.set-image.outputs.image }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
              with:
                  driver-opts: |
                      network=host
                      env.BUILDKIT_STEP_LOG_MAX_SIZE=50000000
                      env.BUILDKIT_STEP_LOG_MAX_SPEED=10000000
                  config-inline: |
                      [registry."registry.seedabit.org.br"]
                        http = false
                        insecure = false

            - name: Login to registry
              uses: docker/login-action@v3
              with:
                  registry: registry.seedabit.org.br
                  username: ${{ secrets.REGISTRY_USERNAME }}
                  password: ${{ secrets.REGISTRY_PASSWORD }}

            - name: Build and push image
              if: ${{ inputs.branch == 'main' }}
              uses: docker/build-push-action@v4
              with:
                  context: .
                  push: true
                  no-cache: true
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  tags: |
                      registry.seedabit.org.br/seedabit/guia:${{ inputs.version }}
                      registry.seedabit.org.br/seedabit/guia:latest
                  provenance: false
                  sbom: false

            - name: Set image output
              id: set-image
              run: |
                  echo "image=registry.seedabit.org.br/seedabit/guia:${{ inputs.version }}" >> $GITHUB_OUTPUT
